* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: bebasNeue-regular;
    src: url('../Fuentes/BebasNeue Bold.otf');
}

@font-face {
    font-family: bebasNeue-bold;
    src: url('../Fuentes/BebasNeue\ Bold.otf');
}

@font-face {
    font-family: bebasNeue-thin;
    src: url('../Fuentes/BebasNeue\ Thin.otf');
}
@font-face {
    font-family: bebasNeue-light;
    src: url('../Fuentes/BebasNeue\ Light.otf');
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* font-family: 'Poppins', sans-serif; */

h1 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    color: #E2A900;  
}

#contenedor-header {
    background-color: black;
}

.title {
    font-weight: 200;
    font-size: 30px;
    text-align: center;
    padding: 30px;
}

.linea {
    background: #717171;
    height: 2px;
    width: 100%;
    display: block;
    margin: 0 0 30px 0 ;
}

.linea-sup {
    background: #717171;
    height: 2px;
    width: 100%;
    display: block;
    margin:  0 0 0 ;
}

.tittle h3 {
    font-family: 'poppins', sans-serif;
    font-weight: 300;
    line-height: 60px;
    text-transform: uppercase;
    font-size: 2.4rem;
    color: #6f6d6d;
}

.tittle h1 {
    font-family: bebasNeue-bold, sans-serif;
    font-weight: bold;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 4.2rem;
    color: #E2A900;  
}

.tittle h1 span {
    color: black;
    font-weight: bolder;
    font-size: 4.8rem;
}
.header-list li a {
    font-family: bebasNeue-bold, sans-serif; 
    font-size: 1.5rem;
    margin: 20px;
    text-align: center;
}

.navbar-dark .navbar-nav .nav-link {
    color: #212529;
}

#bordeToggler {
    border: solid 1px #E2A900;
}

.main-btn a {
    font-family: bebasNeue-regular, sans-serif; 
    font-size: 1.6rem;
}

.main-boton-izq {
    padding: 5px 65px;
}

.main-boton-der {
    padding: 5px 40px;
}

.img-bg {
    background-image: url('../imagenes/white-concrete-wall.jpg');
    background-size: cover;
    width: 100%;
    min-height: 80vh;
}

.main-image {
    width: 60%;
}

.menu-section {
    background-color: black;
}
.tarjeta img {
    border-radius: 50%;
    padding: 30px;
}

.contenedor-footer {
    background-color: black;

}

.footer-column {
    font-family: bebasNeue-bold, sans-serif;
}


@media only screen and (max-width: 992px) {
    .header-list li a {
        margin: 2px;
    } 
}