* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: bebasNeue-regular;
    src: url('../Fuentes/BebasNeue Bold.otf');
}

@font-face {
    font-family: bebasNeue-bold;
    src: url('../Fuentes/BebasNeue\ Bold.otf');
}

@font-face {
    font-family: bebasNeue-thin;
    src: url('../Fuentes/BebasNeue\ Thin.otf');
}
@font-face {
    font-family: bebasNeue-light;
    src: url('../Fuentes/BebasNeue\ Light.otf');
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* font-family: 'Poppins', sans-serif; */


.header-list li a{
    font-family: bebasNeue-bold, sans-serif; 
    font-size: 24px;
    margin: 20px;
    text-align: center;
}

.navbar-light .navbar-nav .nav-link {
    color: #212529;
}

@media only screen and (max-width: 992px) {
    .header-list li a {
        margin: 2px;
    } 
}