* {
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300&display=swap');

@font-face {
    font-family: bebasNeue-regular;
    src: url('../Fuentes/BebasNeue Bold.otf');
}

@font-face {
    font-family: bebasNeue-bold;
    src: url('../Fuentes/BebasNeue\ Bold.otf');
}

@font-face {
    font-family: bebasNeue-thin;
    src: url('../Fuentes/BebasNeue\ Thin.otf');
}
@font-face {
    font-family: bebasNeue-light;
    src: url('../Fuentes/BebasNeue\ Light.otf');
}


/* font-family: 'Poppins', sans-serif;
   font-family: 'Pacifico', cursive; */


body {
    background-color: black;
}
h1 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    color: #E2A900;  
}

.contenedor-header {
    background-color: black;
    border-bottom: solid 1px grey;

}

.title {
    font-weight: 200;
    font-size: 30px;
    text-align: center;
    padding: 30px;
}

.linea {
    background: #717171;
    height: 2px;
    width: 100%;
    display: block;
    margin: 0 0 30px 0 ;
}

.linea-sup {
    background: #717171;
    height: 2px;
    width: 100%;
    display: block;
    margin:  0 0 0 ;
}

.tittle h3 {
    font-family: 'poppins', sans-serif;
    font-weight: 300;
    line-height: 60px;
    text-transform: uppercase;
    font-size: 2.4rem;
    color: #6f6d6d;
}

.tittle h1 {
    font-family: bebasNeue-bold, sans-serif;
    font-weight: bold;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 4.2rem;
    color: #E2A900;  
}

.tittle h1 span {
    color: black;
    font-weight: bolder;
    font-size: 4.8rem;
}
.header-list li a {
    font-family: bebasNeue-bold, sans-serif; 
    font-size: 1.5rem;
    margin: 20px;
    text-align: center;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

#boton {
    color:black;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #E2A900;
}

#bordeToggler {
    border: solid 1px #E2A900;
}

.main-btn a {
    font-family: bebasNeue-regular, sans-serif; 
    font-size: 1.6rem;
}

.main-boton-izq {
    padding: 5px 65px;
}

.main-boton-der {
    padding: 5px 40px;
}

.img-bg {
    background-image: url('../imagenes/white-concrete-wall.jpg');
    background-size: cover;
    width: 100%;
    min-height: 80vh;
}

.main-image {
    width: 60%;
}

.contenedor-title {
    background-color: black;
}

.menu-section {
    background-color: black;
}

.tarjeta img {
    border-radius: 50%;
    padding: 30px;
}

.contenedor-footer {
    background-color: black;
    border-top: solid 1px grey;

}

.footer-column {
    font-family: bebasNeue-bold, sans-serif;
}

.carousel-item img {
    background-color: black;
    height: 30rem;
    object-fit: contain;
}

/* Formulario */

.form {
    background-color: black;
    padding: 2%;
    width: 100%;
}

.form-label {
    color: white;
    font-family: bebasNeue-regular, sans-serif;
    font-size: 25px;
}

.input {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 0;
}

#mensaje {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 10px;
    border-radius: 8px;
    border: 0;
}

.boton {
    background-color: #E2A900;
    width: 35%;
    color: white;
    border-radius: 40px;
    font-family: bebasNeue-regular, sans-serif; 
    font-size: 22px;
    height: 50px;
    margin: auto;
    border: 0;
    display: block

}

/* Nosotros */

.section-1 {
    background-color: white;
}

.nosotros-tit {
    font-family: 'Pacifico', cursive;
    color: #E2A900;
    font-size: 1.5rem;

}

.nosotros-sub {
    font-family: bebasNeue-bold, sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
}

.nosotros-img img {
    width: 28rem;
}

.section-2 {
    background-color: #f4f4f4;
}

@media only screen and (max-width: 992px) {
    .header-list li a {
        margin: 2px;
    } 
}