.title-principal {
    h1 {
        font-family: $fuente-principal, sans-serif;
        font-weight: bold;
        line-height: 70px;
        text-transform: uppercase;
        font-size: 4.2rem;
        color: $color-primario;  

        @media screen and (max-width:768px ) {
            font-size: 3.3em;
            line-height: 55px;
        }

        span {
            color: $color-fonts;
            font-weight: bolder;
            font-size: 4.8rem;

            @media screen and (max-width:768px ) {
                font-size: 3.3rem;
            }
        }
    }

    h3 {
        font-family: $fuente-secundaria, sans-serif;
        font-weight: 300;
        line-height: 60px;
        text-transform: uppercase;
        font-size: 2.4rem;
        color: lighten($color-terciario, 35%);

        @media screen and (max-width:768px ) {
            font-size: 1.75em;
            line-height: 30px;
            margin-bottom: 5px;
        }
    }
}

.main-btn a {
    font-family: $fuente-principal, sans-serif; 
    font-size: 1.6rem;
}

.main-boton-izq {
    padding: 5px 65px;
}

.main-boton-der {
    padding: 5px 40px;
}

.img-bg {
    background-image: url('../../Imagenes/black-smooth-textured-paper-background.jpg');
    background-size: cover;
    width: 100%;
    min-height: 80vh;
}

.main-image {
    width: 60%;
    @media screen and (max-width: 992px) {
        width: 70%;
    }
}

.section-two {
    padding: 60px;
    h2 {
        text-align: center;
        text-transform: uppercase;
        font-family: $fuente-principal;
        font-size: 3rem;
        padding-bottom: 20px;
    }
    .delivery-section {

        @media screen and (max-width: 992px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 1rem;
        }
        
        img { 
            margin: 15px;
        }
        p {
            font-family: $fuente-terciaria;  
            font-size: map-get($fontsize, links);
        }
    }
}

.section-three {
    h2 {
        text-align: center;
        text-transform: uppercase;
        font-family: $fuente-principal;
        color: $color-fonts;
        font-size: 2.8rem;
    } 
}