@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300&display=swap');

@font-face {
    font-family: bebasNeue-regular;
    src: url('../Fuentes/BebasNeue Bold.otf');
}

@font-face {
    font-family: bebasNeue-bold;
    src: url('../Fuentes/BebasNeue\ Bold.otf');
}

@font-face {
    font-family: bebasNeue-thin;
    src: url('../Fuentes/BebasNeue\ Thin.otf');
}
@font-face {
    font-family: bebasNeue-light;
    src: url('../Fuentes/BebasNeue\ Light.otf');
}
