$color-primario: #E2A900;
$color-secundario: black;
$color-terciario: #6f6d6d;
$color-fonts: white;
$fuente-principal: bebasNeue-bold, sans-serif;
$fuente-secundaria: 'Poppins', sans-serif;
$fuente-terciaria: bebasNeue-regular, sans-serif;

